<%= render 'admin/homes/header' %>
<div>
  <h3>アーティスト編集</h3>
  <div>
    <%= form_with model:@artist, url: admin_artist_path(@artist), method: :patch, local:true do |f| %>
      <%= f.label :アーティスト名 %>
      <%= f.text_field :name %>
      <%= f.submit '編集' %>
    <% end %>
  </div>
</div>